<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Website</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<style>
    social-icons i{
        color:white;
    }
</style>
<body>

    <!-- Header Section -->
    <header>
        <div class="container">
            <h1 class="logo">AutoZone</h1>
            <nav>
                <ul class="nav-links">
                    <li><a href="/www/">Home</a></li>
                    <li><a href="/www/about/">About</a></li>
                    <li><a href="/www/services/">Services</a></li>
                    <li><a href="/www/contact/">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>